{% extends "base.html" %}
{% block content %}
  <h1>Reseptit</h1>

  <p>
    <a href="#" class="btn btn-success">Lisää resepti</a>
  </p>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Resepti</th>
        <th>Lisääjä</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <!-- Listataan reseptit tähän -->
      <tr>
        <td><a href="#">Jauhelipihvi</a></td>
        <td>Teemu</td>
        <th><a class="btn btn-default btn-sm" href="#">Muokkaa</a></th>
      </tr>
    </tbody>
  </table>
{% endblock %}