{% extends "base.html" %}
{% block content %}
  <h1>Muokkaa reseptiä: Jauhelihapihvi</h1>

  <form>
    <div class="form-group">
      <label>Nimi</label>
      <input class="form-control" value="Jauhelihapihvi" type="text">
    </div>
    <div class="form-group">
      <label>Raaka-aineet</label>
      <textarea class="form-control">        1. Jauheliha 2. Suola ja Mustapippuri.
      </textarea>
    </div>
    <div class="form-group">
      <label>Ohje</label>
      <textarea class="form-control">        1. Muokkaa jauhelihasta 100g painoisia pihvejä 2. Paista pihvit 2min per puoli. 3. Lisää suola ja pippuri lopuksi pinnalle.
      </textarea>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
  </form>
{% endblock %}