{% extends "base.html" %}
{% block content %}
  <h1>{{resepti.nimi}}</h1>
  <!-- Painikkeet tähän -->
  <p>
    <button class="btn btn-danger">Poista</button> <a href="#" class="btn btn-default">Muokkaa</a>
  </p>
  
  <!-- Reseptin tekijä ja kategoriat tähän -->
  <p><strong>Reseptin tekijä:</strong> Teemu</p>
  <p><strong>Kategoriat:</strong> Pääruoka, Liharuoka</p>
  
  <!-- Raaka-aineet tulee listana tähän -->
  <h3>Raaka-aineet</h3>
  <ul>
    <li><strong>Jauheliha 400g</strong></li>
    <li><strong>Suola ja Mustapippuri</strong></li>
  </ul>
  <!-- Reseptin ohje tulee tähän -->
  <p>
    Muotoile neljä pihviä ja taputtele pinnoille suolaa ja pippuria. Paista pihvit pannulla 2min puoli. Laita lopuksi päälle suolaa ja pippuria
  </p>
{% endblock %}