{% extends "base.html" %}
{% block content %}
  <h1>{{kategoria.nimi}}</h1>
  
  
  
  <!-- Nappulat -->
  <form method="get" action="{{base_path}}/kategoriat/{{kategoria.id}}/muokkaa" style="display: inline-block;">
        <button type="submit" class="btn btn-danger">Muokkaa</button>
  </form> 
  
  <form method="post" action="{{base_path}}/kategoriat/{{kategoria.id}}/poista" style="display: inline-block;">
        <button type="submit" class="btn btn-danger">Poista</button>
  </form>  

<!-- Lisää tähän vielä lista resepteistä, johon kategoria kuuluu-->  
  
  
{% endblock %}