{% extends "base.html" %}
{% block content %}

{% if error%}
<div class=" alert-danger" role="alert">
    {{error}}
</div>
{% endif %}

{% if message%}
<div class=" alert-success" role="alert">
    {{message}}
</div>
{% endif %}
<h1>Rekisteröityminen</h1>
  
  <div>
     Luo itsellesi tunnukset, jotta voit kirjautua sisään.
      
  </div>

  <!-- Kaikki lomakkeen elementit form-tagin sisään -->
  <form method="post" action="{{base_path}}/register">
      
    <!-- Tekstikenttä käyttäjätunnukselle -->
    <div class="form-group">
      <label>Käyttäjätunnus</label>
      <input class="form-control" name="nimi" value="{{nimi}}" type="text">
    </div>

    <!-- Salasanakenttä salasanalle -->
    <div class="form-group">
      <label>Salasana</label>
      <input class="form-control" name="salasana" type="password">
    </div>

    <button type="submit" class="btn btn-primary">Rekisteröidy</button>
  </form>
{% endblock %}