<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>
            {% block title %}
            Teemun Reseptivihko
            {% endblock %}
        </title>

        {% block head %}
        <!-- Bootstrap (tyylitiedosto) -->
        <link href="{{base_path}}/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Oma tyylitiedostomme -->
        <link href="{{base_path}}/assets/css/site.css" rel="stylesheet">
        {% endblock %}
    </head>

    <body>

        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Sovelluksen nimi -->
                    <a class="navbar-brand" href="{{base_path}}">Reseptivihko</a>
                </div>

                <div class="collapse navbar-collapse" id="navigation">
                    <ul class="nav navbar-nav">
                        <!-- Navigaation linkit -->
                        <li><a href="{{base_path}}">Etusivu</a></li>
                        <li><a href="{{base_path}}/reseptit">Reseptit</a></li>
                        <li><a href="{{base_path}}/kategoriat">Kategoriat</a></li>
                        <li><a href="{{base_path}}/login">Kirjaudu Sisään</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div id="main-container">
            {% if errors %}
            <div class="alert alert-danger">
                <ul>
                    {% for error in errors %}
                    <li>{{error}}</li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}
            <!-- Dynaaminen sisältö tulee tähän -->
            {% block content %}{% endblock %}
        </div>
        <div>
            {% if user_logged_in %}
        <form class="navbar-form navbar-left" method="post" action="{{base_path}}/logout">
          <button type="submit" class="btn btn-default">Kirjaudu ulos</button>
        </form>
      {% else %}
        <ul class="nav navbar-nav navbar-left">
          <li><a href="{{base_path}}/login">Kirjaudu sisään</a></li>
        </ul>
      {% endif %}
        </div>

        {% block body %}
        <!-- jQuery -->
        <script src="{{base_path}}/assets/js/jquery.min.js"></script>

        <!-- Bootstrap (skriptitiedosto) -->
        <script src="{{base_path}}/assets/bootstrap/js/bootstrap.min.js"></script>

        <!-- Oma skriptitiedostomme -->
        <script src="{{base_path}}/assets/js/site.js"></script>
        {% endblock %}
    </body>
</html>
