{% extends "base.html" %}

{% block content %}



  <div class="page-header">
    <h1>Tervetuloa Reseptivihkoon</h1>
    Reseptivihkossa voit kirjautua käyttäjäksi ja lisätä, hakea ja muokata omia
    ruokareseptejäsi.Toistaiseksi vain Admin voi poistaa reseptejä.
    
    <p>
    <a href="{{base_path}}/reseptit" class="btn btn-primary btn-lg">Katso Reseptit täältä <span class="glyphicon glyphicon-chevron-right"></span></a>
  </p>
    
  </div>

  <p>
    <a href="http://tsoha.github.io" class="btn btn-primary btn-lg">Työn materiaali <span class="glyphicon glyphicon-chevron-right"></span></a>
  </p>
{% endblock %}
