{% extends "base.html" %}

{% block content %}

{% if message%}
<div class=" alert-success" role="alert">
    {{message}}
</div>
{% endif %}

  <div class="page-header">
    <h1>Tervetuloa Reseptivihkoon</h1>
    Reseptivihkossa voit kirjautua käyttäjäksi ja lisätä, hakea ja muokata omia
    ruokareseptejäsi.
    
    HUOM. Etusivulle tulee lisää tavaraa.
    Katso reseptit <a href="{{base_path}}/reseptit">Täältä.
  </div>

  <p>
    <a href="http://tsoha.github.io" class="btn btn-primary btn-lg">Työn materiaali <span class="glyphicon glyphicon-chevron-right"></span></a>
  </p>
{% endblock %}
