{% extends "base.html" %}

{% block content %}



  <div class="page-header">
    <h1>Tervetuloa Reseptivihkoon</h1>
    <h3>
        Reseptivihkossa voit kirjautua käyttäjäksi ja lisätä, hakea ja muokata omia
        ruokareseptejäsi. Ainoastaan sivuston Admin voi poistaa reseptejä.
        Voit myös luoda uusia kategorioita, mutta kategorioita voi poistaa vain, jos yksikään
        resepti ei ole merkittynä sille kategorialle.
    </h3>
    
    <p>
    <a href="{{base_path}}/reseptit" class="btn btn-primary btn-lg">Katso Reseptit täältä <span class="glyphicon glyphicon-chevron-right"></span></a>
  </p>
    
  </div>
{% endblock %}
