{% extends "base.html" %}
{% block content %}
<h1>Muokkaa reseptiä</h1>

<form method="post" action="{{base_path}}/reseptit/{{attributes.id}}/muokkaa">
    <div class="form-group">
        <label class="control-label">Reseptin nimi</label>
        <input name="nimi" class="form-control" value="{{attributes.nimi}}" type="text">
    </div>

    <div class="form-group">
        <label class="control-label">Raaka-aineet</label>
        <input name="raaka_aineet" class="form-control" value="{{attributes.raaka_aineet}}" type="text">
    </div>

    <div class="form-group">
        <label class="control-label">Ohje</label>
        <input name="ohje" class="form-control" value="{{attributes.ohje}}" type="text">
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Päivitä resepti</button>
    </div>
</form>
{% endblock %}