{% extends "base.html" %}
{% block content %}
<h1>Reseptit</h1>


<p>
    <a href="{{base_path}}/reseptit/uusiResepti" class="btn btn-success">Lisää uusi resepti</a>
</p>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Resepti</th>
            <th>Lisääjä</th>
            <th>Kategoriat</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        <!-- Listataan reseptit tähän -->
        {% for resepti in reseptit %}
        <tr>
            <td><a href="{{base_path}}/reseptit/{{resepti.id}}">{{resepti.nimi}}</td>
            <td>{{resepti.tekija_id}}</td>
            <td>Pääruoka, Liharuoka</td>
            <td><a class="btn btn-default btn-sm" href="#">Nappi kesken</a></td>
        </tr>
        {% endfor %}
    </tbody>

</table>
{% endblock %}