{% extends "base.html" %}
{% block content %}
  <h1>{{resepti.nimi}}</h1>
  
  <p><strong>Reseptin tekijä:</strong> {{knimi.knimi}}</p>
  <form method="get" action="{{base_path}}/reseptit/{{resepti.id}}/muokkaa" style="display: inline-block;">
        <button type="submit" class="btn btn-danger">Muokkaa</button>
  </form> 
  <p></p>
  <form method="post" action="{{base_path}}/reseptit/{{resepti.id}}/poista" style="display: inline-block;">
        <button type="submit" class="btn btn-danger">Poista</button>
  </form>    
  
  <p><strong>Kategoria: </strong> {{katnimi.katnimi}}</p>
  
  <h3>Raaka-aineet</h3>
  
  <p>{{resepti.raaka_aineet}}</p>
  
  <h3>Reseptin ohje</h3>
  <p>
    {{resepti.ohje}}
  </p>
{% endblock %}